<section class="section therapy-details section-one">
  <h2>Terapia Indywidualna</h2>
  <div class="content">
    <ul>
      <li>Pomoc w indywidualnych problemach</li>
      <li>Dostosowane do potrzeb klienta</li>
      <li>Sesje online i offline</li>
    </ul>
  </div>
</section>

<section class="section therapy-details section-two">
  <h2>Terapia Grupowa</h2>
  <div class="content">
    <ul>
      <li>Praca w grupie dla wspólnego wsparcia</li>
      <li>Różnorodne techniki terapeutyczne</li>
      <li>Otwarta atmosfera wymiany doświadczeń</li>
    </ul>
  </div>
</section>

<section class="section therapy-details section-three">
  <h2>Porada Online</h2>
  <div class="content">
    <ul>
      <li>Szybki kontakt przez internet</li>
      <li>Dyskretny i wygodny dostęp do terapii</li>
      <li>Dostosowane do indywidualnych potrzeb</li>
    </ul>
  </div>
</section>
