<div class="image-container"></div>
<div class="offers-container">
  <div class="offer">
    <a [routerLink]="['/terapia-indywidualna']">
      <img src="/assets/images/single2.jpg" alt="Terapia Indywidualna">
      <h3>Terapia Indywidualna</h3>
    </a>
  </div>
  <div class="offer">
    <a [routerLink]="['/terapia-grupowa']">
      <img src="/assets/images/group2.jpg" alt="Terapia Grupowa">
      <h3>Terapia Grupowa</h3>
    </a>
  </div>
  <div class="offer">
    <a [routerLink]="['/porada-online']">
      <img src="/assets/images/online.jpg" alt="Porada Online">
      <h3>Porada Online</h3>
    </a>
  </div>
</div>
