.image-container {
  height: 800px; /* Wysokość kontenera obrazu */
  background: linear-gradient(to right, rgb(0, 132, 209), rgba(255,255,255,0)),
              url("/assets/images/background.jpg") no-repeat right;
  background-size: cover; /* Dopasowuje obraz do rozmiaru kontenera */
}

.offers-container {
  display: flex;
  justify-content: space-around; /* Równomiernie rozmieszcza obrazki */
  margin-top: 50px;
}

.offer {
  text-align: center;
  max-width: 300px; /* Maksymalna szerokość każdego obrazka */
}

.offer img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Zaokrągla rogi obrazków */
  transition: transform 0.3s ease;
}

.offer img:hover {
  transform: scale(1.05); /* Powiększa obrazek przy najechaniu */
}

.offer h3 {
  margin-top: 10px;
  font-size: 22x;
}

.offer a {
  text-decoration: none;
  color: black;
}

.offer a:hover h3 {
  color: #007bff; /* Kolor tekstu przy najechaniu */
}
